.main{
  width: 100%;
  min-width: 300px;
}

div.currentday{
  margin: 0.725em 0.9em;
  text-align: left;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0.1em 20%;
  font-size: 30px;
}

li.weatherinfo{
  font-size: 96%;
}

.weatherinfo div{
  margin: 0 auto;
  text-align: left;
  width: 150px;
  word-break: none;
}


.weatherimage {
  float: left;
  margin: 0.5em;
}

td.temperaturedivs{
  display: inline-flex;
}

.temperaturedivs div{
  margin: 30% 12.5%;
}


.rwd-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.rwd-table tr {
  padding: .35em;
}

.rwd-table td {
  padding: .625em;
  text-align: center;
}

@media screen and (max-width: 450px) {

  td.temperaturedivs{
    display: flex;
    flex-direction: column;
  }

  td.temperaturedivs div{
    margin: 5%;
  }

  .weatherinfo div{
    margin: 0 0 0 120px;
  }
}

@media screen and (min-width: 600px) {
  .rwd-table {
    border: 0;
    width: 100%;
    border-collapse:collapse;
  }

  .main{
  border: 1px solid #ddd;
  }
  
  .rwd-table tr {
    border: 1px solid white;
    display: block;
    float:left;
    font-size: 20px;
    margin-bottom: .625em;
    width: 20%;
  }
  
  .rwd-table td {
    display: block;
    max-width: 250px;
    font-size: .8em;
    text-align: right;
  }

  .rwd-table td div{
    text-align: center;
    
  }


  td.temperaturedivs{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 12%;
  }
}