.main{
  width: 100%;
  min-width: 300px;
  background-color: #fff;
}

div.currentDay{
  margin: 0.725em 0.9em;
  text-align: left;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0.1em 20%;
  font-size: 30px;
}

li.weatherInfo{
  font-size: 96%;
}

.weatherInfo div{
  margin: 0 auto;
  text-align: left;
  width: 150px;
  word-break: none;
}


.weatherImage {
  float: left;
  margin: 0.5em;
}

td.temperatureDivs{
  display: inline-flex;
}

.temperatureDivs div{
  margin: 30% 14.5%;
}

.rwd-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.rwd-table tr {
  padding: .35em;
  border: 1px solid #ddd;
}

.rwd-table td {
  padding: .625em;
  text-align: center;
}

@media screen and (max-width: 450px) {

  td.temperatureDivs{
    display: flex;
    flex-direction: column;
  }

  td.temperatureDivs div{
    margin: 5%;
  }

  .weatherInfo div{
    margin: 0 0 0 100px;
  }
}

@media screen and (min-width: 600px) {
  .rwd-table {
    border: 0;
    width: 100%;
    border-collapse:collapse;
  }

  header{
    max-width: 1000px;
  }

  
  .main{
  max-width: 1000px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #ddd;
  }
  
  .rwd-table tr {
    border: 1px solid white;
    display: block;
    float:left;
    font-size: 20px;
    margin-bottom: .625em;
    width: 15%;
   
  }
  
  .rwd-table td {
    display: block;
    max-width: 250px;
    font-size: .8em;
    text-align: right;
  }

  .rwd-table td div{
    text-align: center;
  }

  td.temperatureDivs{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 25%;
  }

  .temperatureDivs div{
    width: 50px;
    margin: 0;
  }
  
}